{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
    <h2>Cadastro de cliente.</h2>
    <form  action="/criar-pessoa" method="POST">
        <label for="nome">Nome Completo*</label>
        <input type="text" name="nome" class="form-control" id="nome" placeholder="Digite o nome completo do cliente">
        <br>        
        <label for="Telefone">Telefone</label>
        <input type="text" name="telefone" class="form-control" id="tel" placeholder="Digite o telefone do cliente">
        <br>        
        <label for="Endereco">Endereço*</label>
        <input type="text" name="endereco" class="form-control" id="endereco" placeholder="Digite o endereço completo do cliente">
        <br>          
        <label for="cpf">CPF ou CNPJ</label>
        <input type="text" name="cpf" class="form-control" id="cpf" placeholder="Digite o CPF do cliente">
        <br>   
        <div class="form-group row float-right" >          
            <div>                                        
                <div class="button  ml-2 mr-3">
                    <button class="btn btn-success" type="submit">Gravar</button>
                </div>
            </div>
        </div>
    </form>
    <a href="/pesquisa-pessoa"  class="button btn btn-info">                                                          
        Pesquisar                
    </a>
    <br>
{{#if pessoas}}
        <div class="card">
            <div class="card-body">
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">CPF</th>
                        </tr>
                    </thead>
                    <tbody>
    {{#each pessoas}} 
                        <tr>
                            <td>{{nome}}</td>
                            <td>{{telefone}}</td>
                            <td>{{endereco}}</td>
                            <td>{{cpf}}</td>
                        </tr>                    
    {{else}}

    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>    
{{/if}}